<div class="template-erro" style="text-align-last: center;">
  <div class="row my-5">
    <div class="col imagem-erro">
      <img
        src="assets/ibama-logo-2.png"
        alt="Erro"
      />
    </div>
    <div class="col erro-text">
      <div class="text-support-03">
        <p class="text-up-06 text-semi-bold my-3" style="width: max-content;">Bens Apreendidos - Licenciamento Ambiental Federal</p>
      </div>
      <div class="text-secondary-06">
        <p class="text-up-03 text-medium my-3">
          {{messageError}}
        </p>
      </div>
      <p class="my-3">
        {{descriptionError}}
      </p>
    </div>
  </div>
</div>
