<div class="template-base">
  <app-header></app-header>
  <main class="d-flex flex-fill mb-5" id="main">
    <div class="container-fluid">
      <div class="row">
        <app-menu class="col-sm-4 col-lg-3"></app-menu>
        <div class="col mb-5">
          <app-breadcrumb></app-breadcrumb>
          <div class="main-content pl-sm-3 mt-4" id="main-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer class="pt-3"></app-footer>
</div>
