
<div class="row">
  <div class="col-8">
    <h1>Gerenciar Setores</h1>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button id="novo" type="button" class="br-button primary mt-3" (click)="newItem()"><i class="fas fa-plus"></i>Novo</button>
  </div>
</div>

<br-message [state]="message.state" closable *ngIf="message.show">{{ message.text }}</br-message>

<form [formGroup]="form" (ngSubmit)="search()">
  <div class="row">
    <div class="col-4">
      <br-input type="text" id="nome" name="nome" placeholder="Insira o nome do Setor" label="Nome do Setor:" formControlName="nome"></br-input>
    </div>
    <div class="col-8 d-flex justify-content-end">
      <button id="limpar" type="reset" class="br-button secondary mt-4 mr-1" (click)="cleanFilters()"><i class="fas fa-eraser"></i>Limpar Filtro</button>
      <button id="pesquisar" type="submit" class="br-button primary mt-4"><i class="fas fa-search"></i>Pesquisar</button>
    </div>
  </div>
</form>

<div class="p-10px">&nbsp;</div>

<app-dynamic-table [data]="dataTable.records" [totalRecords]="dataTable.page.totalItems"
  (pageSizeChange)="changePageSize($event)" (pageChange)="pageChange($event)">

  <ng-template #header let-item="row">Id</ng-template>
  <ng-template #column let-item="row">{{ item.id }}</ng-template>

  <ng-template #header let-item="row">Nome</ng-template>
  <ng-template #column let-item="row">{{ item.nome }}</ng-template>

  <ng-template #header let-item="row">Ações</ng-template>
  <ng-template #column let-item="row">
    <button type="button" class="br-button circle small mr-2" (click)="view(item.id)" title="Visualizar setor"><i class="fas fa-eye"></i></button>
    <button type="button" class="br-button circle small mr-2" (click)="edit(item.id)" title="Editar setor"><i class="fas fa-pen"></i></button>
    <button type="button" class="br-button circle small" (click)="remove(item.id)" title="Remover setor"><i class="fas fa-trash"></i></button>
  </ng-template>

</app-dynamic-table>
