<h1>{{title}}</h1>

<br-message [state]="message.state" closable *ngIf="message.show">{{ message.text }}</br-message>

<form [formGroup]="form" (ngSubmit)="send()">
  <div class="row">
    <div class="col-12">
      <br-input type="text" id="nome" name="nome" placeholder="Insira o nome do Setor" label="Nome do Setor:" formControlName="nome" [attr.disabled]="view"></br-input>
      <br-message state="danger" feedback *ngIf="form.get('nome').invalid && form.get('nome').touched">Campo obrigatório.</br-message>
    </div>
  </div>
  <div class="row" *ngIf="view">
    <div class="col-12 d-flex justify-content-end">
      <button id="voltar" type="button" class="br-button secondary mt-4 mr-1" (click)="cancel()"><i class="fas fa-undo"></i>Voltar</button>
    </div>
  </div>
  <div class="row" *ngIf="!view">
    <div class="col-12 d-flex justify-content-end">
      <button id="cancelar" type="button" class="br-button secondary mt-4 mr-1" (click)="cancel()"><i class="fas fa-times-circle"></i>Cancelar</button>
      <button id="enviar" type="submit" class="br-button primary mt-4"><i class="fas fa-save"></i>Salvar</button>
    </div>
  </div>
</form>
