<div class="container-fluid">

  <div class="border rounded bg-light">
    <h3 class="font-weight-bold mb-2">Nº do Processo - 2020000011202462</h3>
    <p class="mb-1">Data de abertura do processo: {{ autoInfracao?.dataAlteracao}}</p>
    <p class="mb-2">Nome do autuado: {{'Dado não encontrado'}}</p>
  </div>

  <form class="mb-1">
    <br-divider size="small" class="my-3"></br-divider>
    <h4 class="mb-3">Auto de Infração</h4>
    <div class="row mb-2">
      <div class="col-md-4 mb-2">
        <br-input [attr.readonly]="true" name="autoInfracao" label="Auto de Infração:" [value]="'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-4 mb-2">
        <br-input [attr.readonly]="true" name="serie" label="Série:" [value]="autoInfracao?.serAutoInfracao || 'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-4 mb-2">
        <br-input [attr.readonly]="true" name="acao" label="Ação:" [value]="'Dado não encontrado'"></br-input>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-3 mb-2">
        <br-input [attr.readonly]="true" name="data" label="Data:" [value]="getData(autoInfracao?.dhAutoInfracao) || 'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-3 mb-2">
        <br-input [attr.readonly]="true" name="hora" label="Hora:" [value]="getHora(autoInfracao?.dhAutoInfracao) || 'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-3 mb-2">
        <br-input [attr.readonly]="true" name="unidControle" label="Cod. Unidade:" [value]="autoInfracao?.unidControle || 'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-3 mb-2">
        <br-input [attr.readonly]="true" name="valor" label="Valor:" [value]="autoInfracao?.valor ? (autoInfracao.valor | currency: 'BRL') : 'Dado não encontrado'"></br-input>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4 mb-2">
        <br-input [attr.readonly]="true" name="localInfracao" label="Local da Infração:" [value]="autoInfracao?.localInfracao || 'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-4 mb-2">
        <br-input [attr.readonly]="true" name="municipio" label="Município:" [value]="autoInfracao?.municipio || 'Dado não encontrado'"></br-input>
      </div>
      <div class="col-md-4 mb-2">
        <br-input [attr.readonly]="true" name="uf" label="UF:" [value]="autoInfracao?.uf || 'Dado não encontrado'"></br-input>
      </div>
    </div>

    <h6 class="mb-3">Descrição da Infração:</h6>
    <table class="table table-bordered mb-3">
      <thead>
        <tr>
          <th>
            <p>{{ autoInfracao?.descricao || 'Dado não encontrado' }}</p>
          </th>
      </thead>
    </table>

    <h6 class="mb-3">Artigos Relacionados:</h6>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Artigo</th>
          <th>Inciso / Alínea / Parágrafo</th>
          <th>Lei / Decreto Número</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Artigo 70</td>
          <td>§ 1</td>
          <td>Lei 9605</td>
        </tr>
        <tr>
          <td>Artigo 72</td>
          <td>-</td>
          <td>Lei 9605</td>
        </tr>
        <tr>
          <td>Artigo 03</td>
          <td>II, IV</td>
          <td>Decreto 6514</td>
        </tr>
        <tr>
          <td>Artigo 24</td>
          <td>§ 3 / § III</td>
          <td>Decreto 6514</td>
        </tr>
      </tbody>
    </table>

    <h6 class="mb-3 h6">Defesa e Adesão à Solução Legal:</h6>
    <table class="table table-bordered mb-3">
      <thead>
        <tr>
          <th>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit auctor ante vitae euismod.
              Vestibulum mattis sapien quis vulputate ornare.
            </p>

          </th>
      </thead>
    </table>
  </form>
</div>