<br-message [state]="messageType" closable *ngIf="this.submitted">{{ message }}</br-message>

<h1>Usuários</h1>
<h2>Cadastrar Usuário</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <br-select
    label="UF *"
    [options]="STATES"
    formControlName="uf"
    placeholder="Selecione o item"
    (change)="selecionaUfEnderecoProduto($event)"
  >
  </br-select>
  <div *ngIf="userForm.get('uf').invalid && userForm.get('uf').touched">
    <div *ngIf="userForm.get('uf').errors.required">
      <app-message [control]="userForm.get('uf')" error="required" message="O campo é obrigatório"></app-message>
    </div>
  </div>
  <div class="mb-3">
    <br-input
      type="text"
      id="name"
      name="name"
      placeholder="Nome"
      label="Nome:"
      formControlName="name"
      (input)="handleInput('name')"
    ></br-input>
    <div *ngIf="userForm.get('name').invalid && userForm.get('name').touched">
      <div *ngIf="userForm.get('name').errors.required">
        <app-message [control]="userForm.get('name')" error="required" message="O campo é obrigatório"></app-message>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <br-input
          type="text"
          id="email"
          name="email"
          placeholder="E-mail"
          label="E-mail:"
          formControlName="email"
          (input)="handleInput('email')"
          (change)="handleChange()"
          (blur)="handleBlur()"
        >
        </br-input>
        <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
          <div *ngIf="userForm.get('email').errors.required">
            <app-message [control]="userForm.get('email')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
      <div class="col">
        <br-input
          type="text"
          id="mobile"
          name="mobile"
          placeholder="Ex.: (99) 99999-9999"
          label="Telefone Celular:"
          mask="(##) #####-####"
          formControlName="mobile"
          (input)="handleInput('mobile')"
        >
        </br-input>
        <div *ngIf="userForm.get('mobile').invalid && userForm.get('mobile').touched">
          <div *ngIf="userForm.get('mobile').errors.required">
            <app-message [control]="userForm.get('mobile')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <br-input
          type="password"
          id="password"
          ispassword
          name="password"
          placeholder="Senha"
          label="Senha:"
          formControlName="password"
          (input)="handleInput('password')"
        >
        </br-input>
        <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
          <div *ngIf="userForm.get('password').errors.required">
            <app-message [control]="userForm.get('password')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
      <div class="col">
        <br-input
          type="text"
          id="rg"
          name="rg"
          placeholder="RG"
          label="RG:"
          formControlName="rg"
          (input)="handleInput('rg')"
        >
        </br-input>
        <div *ngIf="userForm.get('rg').invalid && userForm.get('rg').touched">
          <div *ngIf="userForm.get('rg').errors.required">
            <app-message [control]="userForm.get('rg')" error="required" message="O campo é obrigatório"> </app-message>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <br-input
          type="text"
          id="cpf"
          name="cpf"
          placeholder="Ex.: 999.999.999-99"
          label="CPF:"
          mask="###.###.###-##"
          formControlName="cpf"
          (input)="handleInput('cpf')"
        >
        </br-input>
        <div *ngIf="userForm.get('cpf').invalid && userForm.get('cpf').touched">
          <div *ngIf="userForm.get('cpf').errors.required">
            <app-message [control]="userForm.get('cpf')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
      <div class="col">
        <br-input
          type="text"
          id="birthDate"
          mask="##/##/####"
          name="birthDate"
          placeholder="Ex.: DD/MM/AAAA"
          label="Data de Nascimento:"
          formControlName="birthDate"
          (input)="handleInput('birthDate')"
        >
        </br-input>
        <div *ngIf="userForm.get('birthDate').invalid && userForm.get('birthDate').touched">
          <div *ngIf="userForm.get('birthDate').errors.required">
            <app-message [control]="userForm.get('birthDate')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <br-input
          type="text"
          id="address"
          name="address"
          placeholder="Endereço"
          label="Endereço: (Opcional)"
          formControlName="address"
          (input)="handleInput('address')"
        >
        </br-input>
        <div *ngIf="userForm.get('address').invalid && userForm.get('address').touched">
          <div *ngIf="userForm.get('address').errors.required">
            <app-message [control]="userForm.get('address')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
      <div class="col">
        <br-input
          type="text"
          id="cep"
          name="cep"
          placeholder="Ex.: 99999-999"
          label="CEP: (Opcional)"
          mask="#####-###"
          formControlName="cep"
          (input)="handleInput('cep')"
        >
        </br-input>
        <div *ngIf="userForm.get('cep').invalid && userForm.get('cep').touched">
          <div *ngIf="userForm.get('cep').errors.required">
            <app-message [control]="userForm.get('cep')" error="required" message="O campo é obrigatório">
            </app-message>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-md-end">
    <br-button
      id="enviar"
      label="Enviar Formulário"
      type="primary"
      class="mt-3 mr-1"
      (click)="onSubmit()"
      [attr.aria-labelledby]="'Enviar Formulário'"
    >
    </br-button>
  </div>
</form>

<ng-container *ngIf="submittedUsers?.length > 0">
  <h2>Usuários Cadastrados</h2>
  <br-list title="Usuário" id="submited-users" data-toggle="true">
    <ng-container *ngFor="let user of submittedUsers">
      <br-item [title]="user.name" hover>
        <br-list>
          <br-item hover>
            <div class="row align-items-center">
              <div class="col-11">
                <p>E-mail: {{ user.email }}</p>
                <p>Telefone Celular: {{ user.mobile }}</p>
                <p>Senha: ************</p>
                <p>RG: {{ user.rg }}</p>
                <p>CPF: {{ user.cpf }}</p>
                <p>Data de Nascimento: {{ user.birthDate }}</p>
                <p *ngIf="user.address">Endereço: {{ user.address }}</p>
                <p *ngIf="user.cep">CEP: {{ user.cep }}</p>
                <p>UF: {{ user.uf | json }}</p>
              </div>
              <div class="col">
                <br-button
                  circle="true"
                  icon="trash"
                  type="primary"
                  (click)="removeUser(user.name)"
                  [attr.aria-labelledby]="'Remover Usuário'"
                >
                </br-button>
              </div>
            </div>
          </br-item>
        </br-list>
      </br-item>
      <br-divider> </br-divider>
    </ng-container>
  </br-list>
</ng-container>
