<div id="scrimLoading" class="br-scrim-util foco">
  <div class="col d-flex justify-content-center align-items-end" style="min-height: 450px">
    <br-loading medium="true"></br-loading>
  </div>
</div>

<h1>{{title}}</h1>

<br-message [state]="messageService.message.state" closable *ngIf="messageService.message.show">{{ messageService.message.text }}</br-message>

<form [formGroup]="form" (ngSubmit)="send()">
  <div class="row">
    <div class="col-12">
      <br-input type="text" id="nomeProduto" placeholder="Insira o nome do Setor" label="Nome do Setor:" formControlName="nome" [attr.disabled]="view"></br-input>
      <br-message state="danger" feedback *ngIf="form.get('nome').invalid && form.get('nome').touched">Campo obrigatório.</br-message>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <br-select id="setorProduto" label="Setor do Produto:" [options]="sectors" formControlName="idSetor" placeholder="Selecionar Setor" [attr.disabled]="view"></br-select>
      <br-message state="danger" feedback *ngIf="form.get('idSetor').invalid && form.get('idSetor').touched">Campo obrigatório.</br-message>
    </div>
  </div>
  <div class="row" *ngIf="view">
    <div class="col-12 d-flex justify-content-end">
      <button id="voltar" type="reset" class="br-button secondary mt-4 mr-1" (click)="cancel()"><icon class="fas fa-undo"/>Voltar</button>
    </div>
  </div>
  <div class="row" *ngIf="!view">
    <div class="col-12 d-flex justify-content-end">
      <button id="cancelar" type="reset" class="br-button secondary mt-4 mr-1" (click)="cancel()"><icon class="fas fa-times-circle"/>Cancelar</button>
      <button id="enviar" type="submit" class="br-button primary mt-4"><icon class="fas fa-save"/>Salvar</button>
    </div>
  </div>
</form>
