<div class="container-fluid">

    <div class="border rounded bg-light p-3">
        <h3 class="font-weight-bold mb-2">Nº do Processo - {{ autoInfracao?.numeroProcesso || 'Dado não encontrado' }}</h3>
        <p class="mb-1">Data de abertura do processo:  {{ autoInfracao?.dataAlteracao || 'Dado não encontrado' }}</p>
        <p class="mb-2">Nome do autuado: {{ 'Dado não encontrado' }}</p>
    </div>

    <form class="mb-3">
        <br-divider size="small" class="my-3"></br-divider>
        <div class="row mb-2">
            <div class="col-md-4 mb-2">
                <br-input [attr.readonly]="true" name="autoInfracao" label="Termo de Apreensao:"
                    [value]="autoInfracao?.id || 'Dado não encontrado'"></br-input>
            </div>
            <div class="col-md-4 mb-2">
                <br-input [attr.readonly]="true" name="serie" label="Série:"
                    [value]="autoInfracao?.serApreensao || 'Dado não encontrado'"></br-input>
            </div>
            <div class="col-md-4 mb-2">
                <br-input [attr.readonly]="true" name="acao" label="Ação:"
                    [value]="'Dado não encontrado'"></br-input>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6 mb-2">
                <br-input [attr.readonly]="true" name="data" label="Data:" [value]="data || 'Dado não encontrado'"></br-input>
            </div>
            <div class="col-md-6 mb-2">
                <br-input [attr.readonly]="true" name="hora" label="Hora:" [value]="hora || 'Dado não encontrado'"></br-input>
            </div>
        </div>

        <h6 class="mb-3">Descrição de produtos, petrechos e outros:</h6>
        <div class="row mb-2">
            <div class="col-md-4 mb-2">
                <br-input [attr.readonly]="true" name="item1" label="Item 01:"
                    [value]="'Veículos'"></br-input>
            </div>
            <div class="col-md-4 mb-2">
                <br-input [attr.readonly]="true" name="quantidade" label="Quantidade:"
                    [value]="'01'"></br-input>
            </div>
            <div class="col-md-4 mb-2">
                <br-input [attr.readonly]="true" name="unidadeMedida" label="Unidade de Medida:"
                    [value]="'Unidade'"></br-input>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md mb-2">
                <br-input [attr.readonly]="true" name="descricaoProduto" label="Descrição do Produto:"
                    [value]="autoInfracao?.descricao || 'Dado não encontrado'"></br-input>
            </div>
        </div>

        <h6 class="mb-3">Ao(s) item(s) apreendido(s) foi atribuido o valor total de:</h6>
        <div class="col-md mb-2">
            <br-input [attr.readonly]="true" name="valor" label="Valor Total:"
                [value]="autoInfracao?.valor || 'Dado não encontrado'"></br-input>
        </div>

        <h6 class="mb-3">Sanções indicadas:</h6>
        <div class="col-md mb-2">
            <br-input [attr.readonly]="true" name="sancoes" label="Sanções:"
                [value]="'Dado não encontrado'"></br-input>
        </div>

        <h6 class="mb-3">Descrição da Infração</h6>
        <div class="col-md mb-2">
            <br-input [attr.readonly]="true" name="descricaoInfracao" label="Descrição:"
                [value]="autoInfracao?.descricao || 'Dado não encontrado'"></br-input>
        </div>

        <h6 class="mb-3">Informações complementares:</h6>
        <div class="col-md mb-2">
            <br-input [attr.readonly]="true" name="informacoesComplementares" label="Informações:"
                [value]="'Dado não encontrado'"></br-input>
        </div>

        <h6 class="mb-3">Local da Apreensão:</h6>
        <div class="col-md mb-2">
            <br-input [attr.readonly]="true" name="localApreensao" label="Local:"
                [value]="autoInfracao?.descricaoLocalizacao || 'Dado não encontrado'"></br-input>
        </div>
    </form>
</div>
